/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/

/*@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
  }*/

body{
    
    background-color: #B31B1B;
    /*font-family: Montserrat;*/

}

h1 {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
}

h2 {

    color: black;
    text-align: center;
    font-size: 30px;
}

#redbg{

    color: white;
    padding-right: 10%;
    padding-left: 10%;

}

#main{

    padding-top: 40px;
    padding-right: 10%;
    padding-left: 10%;

}

#sponsors {

    padding-top: 40px;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

#sponsorsjb {
    background-color: #FFFFFF;

}

.center {
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron{

    background-color:white;

}