/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/

/*@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
  }*/

  @font-face {
    font-family: 'RedHatEB';
    src: url("res/RedHat/RedHatDisplay-ExtraBold.ttf");
}
@font-face {
    font-family: 'RedHat';
    src: url('res/RedHat/RedHatDisplay-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'RedHatB';
    src: url('res/RedHat/RedHatDisplay-Medium.ttf');
}

body{
    background: url("res/concertbackgroundr2.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    /*background-color: #B31B1B;*/
    /*font-family: Montserrat;*/
    font-family: 'RedHat', sans-serif;

}

h1 {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    font-family: "RedHatEB"
}

h2 {

    color: black;
    text-align: center;
    font-size: 30px;
}

h2.sub1 {
    color: black;
    text-align: center;
    font-size: 23px;
}
h2.sub2 {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family:"RedHatB";
}


#tickets{
    text-align: center;
}

#redbg{

    color: white;
    padding-right: 10%;
    padding-left: 10%;

}

#main{

    padding-top: 40px;
    padding-right: 10%;
    padding-left: 10%;

}

#sponsors {
    padding-top: 40px;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

#sponsorsjb {
    background-color: #FFFFFF;
}

#buttondiv{
    text-align: center; 
    padding: 10px 10px;
}

button.sub {
    color: #FFFFFF;
    background-color: #B31B1B;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family:"RedHatB";


    width:50%;
    padding: 2% 2%;
}

button.sub:hover, button.sub:active {
    background-color: red;
  }

.center {
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.bricenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.jumbotron{
    background-color:white;
}

.column {
    float: left;
    width: 50%;
    }